.mainPane{/*anchor pane, or main container*/
    /*-fx-background-color: #D0F0E6;styles for main container*/
}
VBox{/*container of title1 stackPane and title2 */
    -fx-background-color: #252d33;
    -fx-background-radius: 8 8 10 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4),  28px, 0, 2px, 1px);

}
StackPane{/*container of circle shape and progress indicator*/
    /*-fx-background-color: #1C4850;*/
    -fx-background-color: linear-gradient(to top,#1C4850,#005F5D);/*#004947,#005F5D*/
    -fx-background-radius: 0 0 8 8;
}
.outerCircle{/*outer circle of progress indicator*/
    -fx-fill: #31524A;
    -fx-stroke: transparent; /*#758DBC;*/
    -fx-stroke-width: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4),  20px, 0, 0px, 0px);
}
.innerCircle {/*inner circle of progress indicator*/
    -fx-fill: #252d33;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3),  20px, 0, 0px, 0px);
    -fx-stroke: transparent;
    /*-fx-stroke-width: 2;*/
}
/*----------------indicator coloring */
.mathProgressIndicator{/*circular bar of the progress indicator*/
    -fx-color: blueviolet;
    -fx-background-radius: 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3),  20px, 0, 5px, 3px);
}
.engProgressIndicator{/*circular bar of the progress indicator*/
    -fx-color: crimson;
    -fx-background-radius: 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3),  20px, 0, 5px, 3px);
}
.progProgressIndicator{/*circular bar of the progress indicator*/
    -fx-color: #57B757;
    -fx-background-radius: 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3),  20px, 0, 5px, 3px);
}
.physProgressIndicator{/*circular bar of the progress indicator*/
    -fx-color: #41A9C9;
    -fx-background-radius: 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3),  20px, 0, 5px, 3px);
}
.econProgressIndicator{/*circular bar of the progress indicator*/
    -fx-color: #4258C9;
    -fx-background-radius: 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3),  20px, 0, 5px, 3px);
}
